.navbar {
  border: 5px solid orange;
}

.container {
  /* display: flex; */
  /* justify-content: space-between; */
}

.navbox {
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  /* justify-content: space-between; */
}


